# Enforce public npm registry
registry=https://registry.npmjs.org/
lockfile-version=3
ignore-scripts=true
# This will fail-fast "npm ci" if deps require node versions unsupported by the repo:
engine-strict=true